 <h4><%= question.question %></h4>
 <form action="/<%=question._id%>/answer" method="POST">
<input type="text" name="answer" placeholder="WRITE YOUR ANSWER">
<button>Submit</button>
</form>
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% question.answer.forEach(function(campground){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                                        
                            <h4> <b> <%= campground.authoranswer %></b> -  <%= campground.answer %>  </h4><br>


                        </div>
                    </div>
                </div>
            <% }); %>
           
        </div>
   </div> 