<h1>Sign Up!!!</h1>

<form action="/signup" method="POST">
    <input type="text" placeholder="username" name="username"><br>
    <input type="password" placeholder="password" name="password"><br>
    <button>Sign Up!!!!!!!!</button>
</form>
<a href="/signup">signup</a>
<a href="/signin">signin</a>
<a href="/logout">logout</a>