<!DOCTYPE html>
<html>
<head>
  <title>WeFive</title>
  <link rel="icon" href= "img/titlelogo.png" type="image/x-icon"> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Amaranth:ital@1&family=Dancing+Script:wght@500&family=Kaushan+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
   <script src="https://cdn.tiny.cloud/1/76e8i3zs3ajub8u8sv40gyfk9wuv3sm09w93b442e794fgvv/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script type="text/javascript">
  tinymce.init({
    selector: '.myeditablediv',
    inline: true,
    menubar: false
  });
  </script>
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.split {
  height: 90%;
 
  position: fixed;
  z-index: 1;
  
  overflow-x: hidden;
  padding-top: 20px;
  
  padding-top: 20px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}
.split::-webkit-scrollbar {
    display: none;
}

.left {
  left: 0;
  width :25%;
  height: 80%;
  background:white;
  /*background-image: url('https://images.unsplash.com/photo-1544208757-ddbaebce244e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
  background-repeat: no-repeat;
  background-position: center;*/
}
.right {
  right: 0;
  width:25%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}
.middle {
  left: 25%;
  right: 25%;
  width:50%;
  height: 90%;
  background:white;
}
.centered {
  margin:10px 0px;
  position:absolute;
  top: 50%;
  vertical-align: middle;
  left: 50%;
  align-content: center;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 100%;
} 
.askquestion{
  margin:0px 20px 30px 20px;
}


  </style>
</head>
<body>
    
  <div class="container">
    <div class="middle">
    <div class="centered">
    <h1>
      Why WeFive Exists
    </h1>
    <p>
      Wefive’s mission is to share and grow the world’s knowledge. A vast amount of the knowledge that would be valuable to many people is currently only available to a few — either locked in people’s heads, or only accessible to select groups. We want to connect the people who have knowledge to the people who need it, to bring together people with different perspectives so they can understand each other better, and to empower everyone to share their knowledge for the benefit of the rest of the world.
    </p>
    <img  style="width:70%;" src="https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=841&q=80">
    <h1>Gather Around a Question</h1>
    <p>The heart of WeFive is questions — questions that affect the world, questions that explain recent world events, questions that guide important life decisions, and questions that provide insights into why other people think differently. WeFive is a place where you can ask questions you care about and get answers that are amazing.

    WeFive has only one version of each question. It doesn’t have a left wing version, a right wing version, a western version, and an eastern version. WeFive brings together people from different worlds to answer the same question, in the same place — and to learn from each other. We want WeFive to be the place to voice your opinion because WeFive is where the debate is happening. We want the WeFive answer to be the definitive answer for everybody forever.</p>
    </div>
    </div>
  </div>




<script type="text/javascript">
    var a;
    var s;
function show_hide(s){
  

  if (a==0) {
    document.getElementById("textarea"+s).style.display="none";
    document.getElementById("answerbutton"+s).style.display="none";
    return a=1;
  }
  else{
    document.getElementById("textarea"+s).style.display="inline";
    document.getElementById("answerbutton"+s).style.display="inline";
    return a=0;
  }
}
</script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>