<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta charset="utf-8">
  <title>Specs</title>
  <link rel="icon" href= "img/titlelogo.png" type="image/x-icon"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style type="text/css">
    body{
  display: flex;
  justify-content: center;
  align-items: center;
  background:url("https://images.unsplash.com/photo-1516797045820-6edca89b2830?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.container{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  padding:30px;
}
.container .card {
  position: relative;
  max-width: 300px;
  height: 230px;
  margin:35px 25px;
  padding:20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0,0,0,0,5);
  transition:0.3s ease-in-out;
}
.container .card:hover{
  height: 350px;
}
.container .card .card-img-top{
  position: relative;
  width:260px;
  height:180px;
  top: -60px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .card-img-top img{
  max-width:100%;
  border-radius: 4px;
}
.container .card .card-body{
  position: relative;
  margin-top: -140px;
  padding:10px 15px;
  text-align: center;
  color:#111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.container .card:hover .card-body{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;

}

  </style>

</head>
<body>
    <div class="container">
      <div class="card" style="width: 18rem;">
       <img src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title"><a href="/category/GeneralKnowledge" class="cat_anchor" style="color:#000000;text-decoration: none;">General Knowledge</a></h5>
        <p class="card-text">“Your assumptions are your windows on the world. Scrub them off every once in a while, or the light won't come in.”</p>
      </div>
      </div>
      <div class="card" style="width: 18rem;">
       <img src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title"><a href="/category/Education" class="cat_anchor" style="color:#000000;text-decoration: none;">Education</a></h5>
        <p class="card-text">"Education is not preparation for LIFE, Education is LIFE itself"</p>
      </div>
      </div>
      <div class="card" style="width: 18rem;">
       <img src="https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title"><a href="/category/Entertainment" class="cat_anchor" style="color:#000000;text-decoration: none;">Entertainment</a></h5>
        <p class="card-text">"ENTERTAINMENT has this way of Resetting itself"</p>
      </div>
      </div>
       <div class="card" style="width: 18rem;">
       <img src="https://images.unsplash.com/photo-1572188863110-46d457c9234d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title"><a href="/category/Webseries&Movies" class="cat_anchor" style="color:#000000;text-decoration: none;">Webseries & Movies</a></h5>
        <p class="card-text">"The Show Must Go On"</p>
      </div>
      </div>
       <div class="card" style="width: 18rem;">
       <img src="https://images.unsplash.com/photo-1541534741688-6078c6bfb5c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title"><a href="/category/Sports" class="cat_anchor" style="color:#000000;text-decoration: none;">Sports</a></h5>
        <p class="card-text">"Never say Never because Limits, like FEARS are often ILLUSION"</p>
      </div>
      </div>
       <div class="card" style="width: 18rem;">
       <img src="https://images.unsplash.com/photo-1524492412937-b28074a5d7da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title"><a href="/category/HistoryOfIndia" class="cat_anchor" style="color:#000000;text-decoration: none;">History Of India</a></h5>
        <p class="card-text">"Those that fail to learn from History are Doomed to repeat it"</p>
      </div>
      </div>
       <div class="card" style="width: 18rem;">
       <img src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title"><a href="/category/TechnologyTricks" class="cat_anchor" style="color:#000000;text-decoration: none;">Technology Tricks</a></h5>
        <p class="card-text">"It has become appallingly obvious that our technology has exceeded our humanity." </p>
      </div>
      </div>
       <div class="card" style="width: 18rem;">
       <img src="https://images.unsplash.com/photo-1580613593357-c0e23330c7bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title"><a href="/category/GlamourWorld" class="cat_anchor" style="color:#000000;text-decoration: none;">Glamour World</a></h5>
        <p class="card-text">"Glamour isn't about age, shape or size, You don't have to pretty to have it.."</p>
      </div>
      </div>
       <div class="card" style="width: 18rem;">
       <img src="https://images.unsplash.com/photo-1585909695284-32d2985ac9c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title"><a href="/category/MovieReview" class="cat_anchor" style="color:#000000;text-decoration: none;">Movie Review</a></h5>
        <p class="card-text">"Review Your Own Movies here"</p>
      </div>
      </div>
    </div>
</body>
</html>