body{
  font-family: 'sora';
}
.askquestion{
  margin:0px 20px 30px 20px;
}
.btn{
  color: white;
  font-family: 'Sora', sans-serif; font-weight: 400;
}
.nav-item{
  color: white;
}

li{
  font-family: 'Sora', sans-serif; font-weight: 500;
} 
.cat_anchor{
  color: #154854;;
  text-decoration: none;
  font-size: 0.8rem;
  margin-left: 10%;
}
